@import "@/assets/scss/variables/media-breakpoints";

.top {
  position: relative;
  padding: 166px 0;
  margin-bottom: 80px;

  &__inner {
    max-width: 482px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 56px;
  }

  &__decor {
    position: absolute;
    right: 0;
    top: 83px;
    z-index: -1;

    &-img {
      aspect-ratio: 0.5;
    }
  }
}

.about {
  margin-bottom: 210px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }


    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}

.send {
  &__inner {
    position: relative;
  }

  &__decor {
    left: 0;
    bottom: 0;
  }
}
