@import "@/assets/scss/variables/colors";
@import "@/assets/scss/variables/media-breakpoints";

.title {
  font-weight: 700;
  color: $white;
}

h1 {
  font-size: 44px;
  line-height: 64px;
  @include media-breakpoint-down(sm) {
    font-size: 36px;
    line-height: 48px;
  }
}

h2 {
  font-size: 44px;
  line-height: 64px;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
    line-height: 44px;
  }
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}