@import "@/assets/scss/variables/colors";

.title {
  font-weight: 700;
  color: $white;
}

h1 {
  font-size: 44px;
  line-height: 64px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}